.cart {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 5px; */
}

.item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}

.button_delete {
    cursor: pointer;
    max-width: 150px;
    border-radius: 50px;
    background-color: red;
    border: 2px solid rgb(198, 178, 178);
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
