.header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e4dada;
    padding: 20px 50px;
}

.header .header_cart {
    cursor: pointer;
}

.header .header_cart .header_cart_content {
    display: flex;
}
